name: Build and Release Python Wheel

on:
  workflow_dispatch:

jobs:
  build-and-upload-wheel:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
   
      - name: Install uv
        run: |
          python -m pip install --upgrade pip
          pip install uv

      - name: Bump package version
        run: |
          uv version --bump patch
          NEW_VERSION=$(uv version | awk '{print $2}')
          echo "NEW_VERSION=$NEW_VERSION" >> $GITHUB_ENV

      - name: Create Release Commit and Tag
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(release): bump version to ${{ env.NEW_VERSION }}"
          tagging_message: "v${{ env.NEW_VERSION }}"

      - name: Build wheel with uv
        run: |
          uv build --wheel

      - name: Upload wheel to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*.whl
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_GITHUB }}